In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
# Load the dataset
data_url = "data/CONSUMO-2023-05.csv"
consumo2023 = pd.read_csv(data_url)

data_url = "data/IMPORTACION-VOLUMEN-2023-05.csv"
importacion2023 = pd.read_csv(data_url)

data_url = "data/dieselpormes.csv"
dieselPorMes = pd.read_csv(data_url)

data_url = "data/gasregularpormes.csv"
regularPorMes = pd.read_csv(data_url)

data_url = "data/gassuperpormes.csv"
superPorMes = pd.read_csv(data_url)

data_url = "data/superconaditivo.csv"
superConAditivo = pd.read_csv(data_url)

In [88]:
# Display basic information about the dataset
print("Dataset Summary:")
print(consumo2023.info())

Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     281 non-null    object
 1   Aceites lubricantes       281 non-null    object
 2   Asfalto                   281 non-null    object
 3   Bunker                    281 non-null    object
 4   Ceras                     280 non-null    float64
 5   Combustible turbo jet     281 non-null    object
 6   Diesel bajo azufre        281 non-null    object
 7   Diesel ultra bajo azufre  281 non-null    object
 8   Gas licuado de petróleo   281 non-null    object
 9   Gasolina de aviación      281 non-null    object
 10  Gasolina regular          281 non-null    object
 11  Gasolina superior         281 non-null    object
 12  Grasas lubricantes        281 non-null    object
 13  Kerosina                  281 non-null    object
 14  Mezclas
oleosas          281 non-null    object
 15  Naftas                    281 non-null    float64
 16  PetCoke                   281 non-null    object
 17  Petróleo crudo            281 non-null    object
 18  Solventes                 281 non-null    object
 19  Butano                    281 non-null    float64
 20  Diesel alto azufre        281 non-null    object
 21  Orimulsión                281 non-null    object
 22  Total                     281 non-null    object
 23  Unnamed: 23               0 non-null      float64
 24  Unnamed: 24               0 non-null      float64
 25  Unnamed: 25               0 non-null      float64
 26  Unnamed: 26               0 non-null      float64
 27  Unnamed: 27               0 non-null      float64
 28  Unnamed: 28               0 non-null      float64
 29  Unnamed: 29               0 non-null      float64
 30  Unnamed: 30               0 non-null      float64
 31  Unnamed: 31               0 non-null      float64
 32  Unnamed: 32               0 non-null      float64
 33  Unnamed: 33               0 non-null      float64
 34  Unnamed: 34               0 non-null      float64
 35  Unnamed: 35               0 non-null      float64
 36  Unnamed: 36               0 non-null      float64
 37  Unnamed: 37               0 non-null      float64
 38  Unnamed: 38               0 non-null      float64
 39  Unnamed: 39               0 non-null      float64
 40  Unnamed: 40               0 non-null      float64
 41  Unnamed: 41               0 non-null      float64
 42  Unnamed: 42               0 non-null      float64
 43  Unnamed: 43               0 non-null      float64
 44  Unnamed: 44               0 non-null      float64
 45  Unnamed: 45               0 non-null      float64
 46  Unnamed: 46               0 non-null      float64
 47  Unnamed: 47               0 non-null      float64
 48  Unnamed: 48               0 non-null      float64
 49  Unnamed: 49               0 non-null      float64
 50  Unnamed: 50               0 non-null      float64
 51  Unnamed: 51               0 non-null      float64
 52  Unnamed: 52               0 non-null      float64
 53  Unnamed: 53               0 non-null      float64
 54  Unnamed: 54               0 non-null      float64
 55  Unnamed: 55               0 non-null      float64
dtypes: float64(36), object(20)
memory usage: 123.1+ KB
None

In [89]:
print(importacion2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 71 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     270 non-null    object
 1   Aceites lubricantes       269 non-null    object
 2   Asfalto                   269 non-null    object
 3   Bunker                    269 non-null    object
 4   Ceras                     268 non-null    float64
 5   Combustible turbo jet     269 non-null    object
 6   Diesel bajo azufre        269 non-null    object
 7   Diesel ultra bajo azufre  269 non-null    object
 8   Gas licuado de petróleo   269 non-null    object
 9   Gasolina de aviación      269 non-null    object
 10  Gasolina regular          269 non-null    object
 11  Gasolina superior         269 non-null    object
 12  Grasas lubricantes        269 non-null    object
 13  Kerosina                  269 non-null    object
 14  Mezclas oleosas           269 non-null    object
 15  Naftas                    269 non-null    float64
 16  Petcoke                   269 non-null    object
 17  Petróleo crudo            269 non-null    object
 18  Solventes                 269 non-null    object
 19  Butano                    269 non-null    float64
 20  Diesel alto azufre        269 non-null    object
 21  MTBE                      269 non-null    object
 22  Orimulsión                269 non-null    object
 23  Petróleo reconstituido    269 non-null    object
 24  Total importación         269 non-null    object
 25  Unnamed: 25               0 non-null      float64
 26  Unnamed: 26               0 non-null      float64
 27  Unnamed: 27               0 non-null      float64
 28  Unnamed: 28               0 non-null      float64
 29  Unnamed: 29               0 non-null      float64
 30  Unnamed: 30               0 non-null      float64
 31  Unnamed: 31               0 non-null      float64
 32  Unnamed: 32               0 non-null      float64
 33  Unnamed: 33               0 non-null      float64
 34  Unnamed: 34               0 non-null      float64
 35  Unnamed: 35               0 non-null      float64
 36  Unnamed: 36               0 non-null      float64
 37  Unnamed: 37               0 non-null      float64
 38  Unnamed: 38               0 non-null      float64
 39  Unnamed: 39               0 non-null      float64
 40  Unnamed: 40               0 non-null      float64
 41  Unnamed: 41               0 non-null      float64
 42  Unnamed: 42               0 non-null      float64
 43  Unnamed: 43               0 non-null      float64
 44  Unnamed: 44               0 non-null      float64
 45  Unnamed: 45               0 non-null      float64
 46  Unnamed: 46               0 non-null      float64
 47  Unnamed: 47               0 non-null      float64
 48  Unnamed: 48               0 non-null      float64
 49  Unnamed: 49               0 non-null      float64
 50  Unnamed: 50               0 non-null      float64
 51  Unnamed: 51               0 non-null      float64
 52  Unnamed: 52               0 non-null      float64
 53  Unnamed: 53               0 non-null      float64
 54  Unnamed: 54               0 non-null      float64
 55  Unnamed: 55               0 non-null      float64
 56  Unnamed: 56               0 non-null      float64
 57  Unnamed: 57               0 non-null      float64
 58  Unnamed: 58               0 non-null      float64
 59  Unnamed: 59               0 non-null      float64
 60  Unnamed: 60               0 non-null      float64
 61  Unnamed: 61               0 non-null      float64
 62  Unnamed: 62               0 non-null      float64
 63  Unnamed: 63               0 non-null      float64
 64  Unnamed: 64               0 non-null      float64
 65  Unnamed: 65               0 non-null      float64
 66  Unnamed: 66               0 non-null      float64
 67  Unnamed: 67               0 non-null      float64
 68  Unnamed: 68               0 non-null      float64
 69  Unnamed: 69               0 non-null      float64
 70  Unnamed: 70               0 non-null      float64
dtypes: float64(49), object(22)
memory usage: 150.4+ KB
None

In [90]:
print(dieselPorMes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MES/AÑO     13 non-null     object
 1   Unnamed: 1  0 non-null      float64
 2   2001        12 non-null     float64
 3   2002        12 non-null     float64
 4   2003        12 non-null     float64
 5   2004        13 non-null     float64
 6   2005        13 non-null     float64
 7   2006        13 non-null     float64
 8   2007        13 non-null     float64
 9   2008        13 non-null     float64
 10  2009        13 non-null     float64
 11  2010        13 non-null     float64
 12  2011        13 non-null     float64
 13  2012        13 non-null     float64
 14  2013        13 non-null     float64
 15  2014        13 non-null     float64
 16  2015        13 non-null     float64
 17  2016        13 non-null     float64
 18  2017        13 non-null     float64
 19  2018        13 non-null     float64
 20  2019        13 non-null     float64
 21  2020        13 non-null     float64
 22  2021        13 non-null     float64
 23  2022        13 non-null     float64
 24  2023        6 non-null      float64
dtypes: float64(24), object(1)
memory usage: 2.7+ KB
None

In [91]:
print(regularPorMes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MES/AÑO     13 non-null     object
 1   Unnamed: 1  2 non-null      float64
 2   2001        10 non-null     float64
 3   2002        12 non-null     float64
 4   2003        12 non-null     float64
 5   2004        13 non-null     float64
 6   2005        13 non-null     float64
 7   2006        13 non-null     float64
 8   2007        13 non-null     float64
 9   2008        13 non-null     float64
 10  2009        13 non-null     float64
 11  2010        13 non-null     float64
 12  2011        13 non-null     float64
 13  2012        13 non-null     float64
 14  2013        13 non-null     float64
 15  2014        13 non-null     float64
 16  2015        13 non-null     float64
 17  2016        13 non-null     float64
 18  2017        13 non-null     float64
 19  2018        13 non-null     float64
 20  2019        13 non-null     float64
 21  2020        13 non-null     float64
 22  2021        13 non-null     float64
 23  2022        13 non-null     float64
 24  2023        6 non-null      float64
dtypes: float64(24), object(1)
memory usage: 2.7+ KB
None

In [92]:
print(superPorMes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MES/AÑO      13 non-null     object
 1   Unnamed: 1   0 non-null      float64
 2   2001         13 non-null     float64
 3   2002         13 non-null     float64
 4   2003         13 non-null     float64
 5   2004         13 non-null     float64
 6   Unnamed: 6   0 non-null      float64
 7   2005         13 non-null     float64
 8   2006         13 non-null     float64
 9   2007         13 non-null     float64
 10  2008         13 non-null     float64
 11  2009         13 non-null     float64
 12  2010         13 non-null     float64
 13  2011         13 non-null     float64
 14  2012         13 non-null     float64
 15  2013         13 non-null     float64
 16  2014         13 non-null     float64
 17  2015         13 non-null     float64
 18  2016         13 non-null     float64
 19  2017         13 non-null     float64
 20  2018         13 non-null     float64
 21  2019         13 non-null     float64
 22  2020         13 non-null     float64
 23  2021         13 non-null     float64
 24  2022         13 non-null     float64
 25  2023         6 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
dtypes: float64(27), object(1)
memory usage: 3.0+ KB
None

In [93]:
print(superConAditivo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MES/AÑO      13 non-null     object
 1   Unnamed: 1   2 non-null      float64
 2   2001         11 non-null     float64
 3   2002         13 non-null     float64
 4   2003         13 non-null     float64
 5   2004         13 non-null     float64
 6   Unnamed: 6   0 non-null      float64
 7   2005         13 non-null     float64
 8   2006         13 non-null     float64
 9   2007         13 non-null     float64
 10  2008         13 non-null     float64
 11  2009         13 non-null     float64
 12  2010         13 non-null     float64
 13  2011         13 non-null     float64
 14  2012         13 non-null     float64
 15  2013         13 non-null     float64
 16  2014         13 non-null     float64
 17  2015         13 non-null     float64
 18  2016         13 non-null     float64
 19  2017         13 non-null     float64
 20  2018         13 non-null     float64
 21  2019         13 non-null     float64
 22  2020         13 non-null     float64
 23  2021         13 non-null     float64
 24  2022         13 non-null     float64
 25  2023         6 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
dtypes: float64(27), object(1)
memory usage: 3.0+ KB
None

In [94]:
# Display the first few rows of the dataset
print("\nFirst 5 rows of the dataset:")
print(consumo2023.head())

First 5 rows of the dataset:
      Fecha Aceites lubricantes    Asfalto      Bunker  Ceras  \
0  Jan/2000                0.00  48,446.00  296,766.99    0.0
1  Feb/2000                0.00  50,597.00  328,116.44    0.0
2  Mar/2000                0.00  27,593.00  368,589.63    0.0
3  Apr/2000                0.00  53,794.00  396,300.47    0.0
4  May/2000                0.00  60,137.00  449,368.92    0.0

  Combustible turbo jet Diesel bajo azufre Diesel ultra bajo azufre  \
0                  0.00               0.00                     0.00
1                  0.00               0.00                     0.00
2                  0.00               0.00                     0.00
3                  0.00               0.00                     0.00
4                  0.00               0.00                     0.00

  Gas licuado de petróleo Gasolina de aviación  ... Unnamed: 46 Unnamed: 47  \
0              194,410.48             1,426.00  ...         NaN         NaN
1              174,710.55             1,458.00  ...         NaN         NaN
2              189,234.07             1,503.00  ...         NaN         NaN
3              174,330.61             1,561.00  ...         NaN         NaN
4              191,745.15             1,642.00  ...         NaN         NaN

  Unnamed: 48 Unnamed: 49 Unnamed: 50  Unnamed: 51 Unnamed: 52 Unnamed: 53  \
0         NaN         NaN         NaN          NaN         NaN         NaN
1         NaN         NaN         NaN          NaN         NaN         NaN
2         NaN         NaN         NaN          NaN         NaN         NaN
3         NaN         NaN         NaN          NaN         NaN         NaN
4         NaN         NaN         NaN          NaN         NaN         NaN

  Unnamed: 54  Unnamed: 55
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

[5 rows x 56 columns]

In [95]:
print(importacion2023.head())

      Fecha Aceites lubricantes   Asfalto       Bunker  Ceras  \
0  Jan/2001                0.00  27,748.99  214,581.84    0.0
1  Feb/2001                0.00   7,503.57  294,609.00    0.0
2  Mar/2001                0.00  26,304.32  315,263.80    0.0
3  Apr/2001                0.00   7,885.89  205,653.00    0.0
4  May/2001                0.00   8,443.16  278,371.30    0.0

  Combustible turbo jet Diesel bajo azufre Diesel ultra bajo azufre  \
0                  0.00               0.00                     0.00
1                  0.00               0.00                     0.00
2                  0.00               0.00                     0.00
3                  0.00               0.00                     0.00
4                  0.00               0.00                     0.00

  Gas licuado de petróleo Gasolina de aviación  ... Unnamed: 61 Unnamed: 62  \
0              194,065.74               820.00  ...         NaN         NaN
1              170,703.38             3,054.00  ...         NaN         NaN
2              161,837.37               677.00  ...         NaN         NaN
3              163,048.64             3,399.00  ...         NaN         NaN
4              171,518.86               585.00  ...         NaN         NaN

  Unnamed: 63 Unnamed: 64 Unnamed: 65  Unnamed: 66 Unnamed: 67 Unnamed: 68  \
0         NaN         NaN         NaN          NaN         NaN         NaN
1         NaN         NaN         NaN          NaN         NaN         NaN
2         NaN         NaN         NaN          NaN         NaN         NaN
3         NaN         NaN         NaN          NaN         NaN         NaN
4         NaN         NaN         NaN          NaN         NaN         NaN

  Unnamed: 69  Unnamed: 70
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

[5 rows x 71 columns]

In [96]:
print(dieselPorMes.head())

   MES/AÑO  Unnamed: 1   2001  2002   2003   2004   2005   2006   2007   2008  \
0    ENERO         NaN  11.64  9.29  10.90  11.64  15.93  19.82  18.89  26.24
1  FEBRERO         NaN  11.42  9.01  11.86  12.59  15.35  19.28  17.89  26.31
2    MARZO         NaN    NaN   NaN    NaN  12.92  16.25  18.71  18.94  28.04
3    ABRIL         NaN  10.96  9.74  12.63  12.54  18.01  19.63  20.48  30.68
4     MAYO         NaN  11.02  9.80  11.13  12.70  18.50  20.60  21.08  32.57

   ...   2014   2015   2016   2017   2018   2019   2020   2021   2022   2023
0  ...  32.03  19.67  14.47  19.15  21.62  20.73  21.94  19.10  27.41  36.78
1  ...  31.27  20.59  13.80  18.70  21.28  21.94  19.57  20.62  30.20  34.00
2  ...  30.95  20.97  15.57  18.43  20.97  22.71  15.06  22.27  37.05  31.66
3  ...  33.59  20.85  15.90  18.43  22.09  22.79  15.95  21.77  33.90  30.77
4  ...  31.16  22.10  17.00  17.76  23.20  22.83  15.06  22.71  35.79  28.44

[5 rows x 25 columns]

In [97]:
print(regularPorMes.head())

   MES/AÑO  Unnamed: 1   2001   2002   2003   2004   2005   2006   2007  \
0    ENERO         NaN  14.15  12.57  15.37  15.80  18.52  22.15  22.48
1  FEBRERO         NaN    NaN    NaN    NaN  17.08  18.07  21.87  21.52
2    MARZO         NaN  14.13  12.65  17.27  17.71  19.25  21.69  22.61
3    ABRIL         NaN  14.10  14.22  16.50  18.07  21.42  23.99  25.01
4     MAYO         NaN  15.21  14.29  15.43  18.45  21.97  26.37  26.99

    2008  ...   2014   2015   2016   2017   2018   2019   2020   2021   2022  \
0  28.28  ...  33.33  20.28  18.90  23.19  24.77  21.87  24.59  23.01  30.60
1  28.18  ...  32.46  21.75  17.91  22.38  24.69  22.68  23.48  24.74  33.08
2  29.55  ...  32.77  23.49  19.54  21.95  24.70  24.61  22.58  26.89  38.51
3  30.99  ...  33.59  24.07  20.78  22.72  25.99  26.63  17.96  27.22  35.80
4  32.44  ...  33.20  25.38  21.63  22.15  27.23  26.69  17.71  27.98  39.37

    2023
0  33.70
1  33.53
2  32.81
3  34.71
4  33.43

[5 rows x 25 columns]

In [98]:
print(superPorMes.head())

   MES/AÑO  Unnamed: 1   2001   2002   2003   2004  Unnamed: 6   2005   2006  \
0    ENERO         NaN  14.41  12.94  15.80  16.24         NaN  19.09  22.65
1  FEBRERO         NaN  14.66  12.76  16.64  17.49         NaN  18.60  22.35
2    MARZO         NaN  14.49  13.04  17.79  18.11         NaN  19.76  22.16
3    ABRIL         NaN  14.46  14.60  17.01  18.48         NaN  21.94  24.48
4     MAYO         NaN  15.76  14.65  15.92  18.89         NaN  22.48  26.85

    2007  ...   2016   2017   2018   2019   2020   2021   2022   2023  \
0  22.99  ...  20.39  24.69  25.83  23.03  25.60  23.82  31.41  35.12
1  22.04  ...  19.38  23.88  25.78  23.87  24.51  25.53  33.84  35.03
2  23.13  ...  21.02  23.42  25.80  25.80  23.60  27.70  39.12  34.40
3  25.53  ...  22.25  24.20  27.10  27.82  18.97  28.03  38.83  36.33
4  27.59  ...  23.10  23.64  28.29  27.88  18.74  28.80  42.14  34.90

   Unnamed: 26  Unnamed: 27
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 28 columns]

In [99]:
print(superConAditivo.head())

   MES/AÑO  Unnamed: 1   2001   2002   2003   2004  Unnamed: 6   2005   2006  \
0    ENERO         NaN  14.92  13.37  16.34  16.80         NaN  19.80  23.31
1  FEBRERO         NaN  15.17  13.23  17.21  18.05         NaN  19.25  22.98
2    MARZO         NaN  14.97  13.63  18.30  18.68         NaN  20.46  22.85
3    ABRIL         NaN  14.91  15.18  17.42  19.16         NaN  22.70  25.36
4     MAYO         NaN  16.26  15.19  16.48  19.48         NaN  23.21  27.68

    2007  ...   2016   2017   2018   2019   2020   2021   2022   2023  \
0  23.62  ...  21.01  25.31  26.47  23.72  26.17  24.34  32.05  35.76
1  22.65  ...  20.03  24.51  26.27  24.54  25.12  26.07  34.55  35.54
2  24.00  ...  21.70  24.03  26.43  26.49  24.15  28.24  39.83  34.95
3  26.35  ...  22.91  24.81  27.74  28.48  19.44  28.54  39.37  36.87
4  28.40  ...  23.75  24.24  28.57  28.54  19.36  29.41  42.68  35.43

   Unnamed: 26  Unnamed: 27
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 28 columns]

In [100]:
# Summary statistics of numerical columns
print("\nSummary Statistics:")
print(consumo2023.describe())

Summary Statistics:
            Ceras      Naftas      Butano  Unnamed: 23  Unnamed: 24  \
count  280.000000  281.000000  281.000000          0.0          0.0
mean    -1.695929   15.754626   10.289893          NaN          NaN
std    120.930501   57.585737   23.760251          NaN          NaN
min   -841.640000  -22.460000    0.000000          NaN          NaN
25%      0.000000    0.000000    0.000000          NaN          NaN
50%      0.000000    0.000000    0.000000          NaN          NaN
75%      0.000000    0.000000    0.000000          NaN          NaN
max    919.240000  525.040000   89.720000          NaN          NaN

       Unnamed: 25  Unnamed: 26  Unnamed: 27  Unnamed: 28  Unnamed: 29  ...  \
count          0.0          0.0          0.0          0.0          0.0  ...
mean           NaN          NaN          NaN          NaN          NaN  ...
std            NaN          NaN          NaN          NaN          NaN  ...
min            NaN          NaN          NaN          NaN          NaN  ...
25%            NaN          NaN          NaN          NaN          NaN  ...
50%            NaN          NaN          NaN          NaN          NaN  ...
75%            NaN          NaN          NaN          NaN          NaN  ...
max            NaN          NaN          NaN          NaN          NaN  ...

       Unnamed: 46  Unnamed: 47  Unnamed: 48  Unnamed: 49  Unnamed: 50  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Unnamed: 51  Unnamed: 52  Unnamed: 53  Unnamed: 54  Unnamed: 55
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

[8 rows x 36 columns]

In [101]:
print(importacion2023.describe())

            Ceras      Naftas      Butano  Unnamed: 25  Unnamed: 26  \
count  268.000000  269.000000  269.000000          0.0          0.0
mean    66.469142   18.012156   11.127658          NaN          NaN
std    169.789987   75.623403   31.826152          NaN          NaN
min      0.000000    0.000000    0.000000          NaN          NaN
25%      0.000000    0.000000    0.000000          NaN          NaN
50%      0.000000    0.000000    0.000000          NaN          NaN
75%      0.000000    0.000000    0.000000          NaN          NaN
max    920.120000  513.830000  149.090000          NaN          NaN

       Unnamed: 27  Unnamed: 28  Unnamed: 29  Unnamed: 30  Unnamed: 31  ...  \
count          0.0          0.0          0.0          0.0          0.0  ...
mean           NaN          NaN          NaN          NaN          NaN  ...
std            NaN          NaN          NaN          NaN          NaN  ...
min            NaN          NaN          NaN          NaN          NaN  ...
25%            NaN          NaN          NaN          NaN          NaN  ...
50%            NaN          NaN          NaN          NaN          NaN  ...
75%            NaN          NaN          NaN          NaN          NaN  ...
max            NaN          NaN          NaN          NaN          NaN  ...

       Unnamed: 61  Unnamed: 62  Unnamed: 63  Unnamed: 64  Unnamed: 65  \
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

       Unnamed: 66  Unnamed: 67  Unnamed: 68  Unnamed: 69  Unnamed: 70
count          0.0          0.0          0.0          0.0          0.0
mean           NaN          NaN          NaN          NaN          NaN
std            NaN          NaN          NaN          NaN          NaN
min            NaN          NaN          NaN          NaN          NaN
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max            NaN          NaN          NaN          NaN          NaN

[8 rows x 49 columns]

In [102]:
print(dieselPorMes.describe())

       Unnamed: 1       2001       2002       2003       2004       2005  \
count         0.0  12.000000  12.000000  12.000000  13.000000  13.000000
mean          NaN  10.778333  10.503333  11.000833  13.681538  18.132308
std           NaN   0.480527   1.936601   0.749842   1.781548   1.808462
min           NaN   9.790000   9.010000   9.910000  11.640000  15.350000
25%           NaN  10.575000   9.737500  10.735000  12.570000  17.250000
50%           NaN  10.740000  10.060000  10.990000  12.920000  18.010000
75%           NaN  10.975000  10.515000  11.167500  13.880000  19.060000
max           NaN  11.640000  16.450000  12.630000  17.150000  21.080000

            2006       2007       2008       2009  ...       2014       2015  \
count  13.000000  13.000000  13.000000  13.000000  ...  13.000000  13.000000
mean   19.987692  21.494615  30.116923  20.492308  ...  29.808462  19.627692
std     0.918941   2.315342   4.727188   1.982247  ...   2.766887   1.662790
min    18.710000  17.890000  21.210000  17.180000  ...  23.100000  16.260000
25%    19.280000  20.480000  26.310000  19.510000  ...  29.530000  18.430000
50%    19.910000  21.530000  30.120000  20.670000  ...  30.930000  19.670000
75%    20.690000  21.830000  32.870000  21.750000  ...  31.160000  20.850000
max    21.560000  26.120000  37.170000  23.500000  ...  33.590000  22.100000

            2016       2017       2018       2019       2020       2021  \
count  13.000000  13.000000  13.000000  13.000000  13.000000  13.000000
mean   16.813846  18.883846  22.686923  21.933077  17.178462  23.395385
std     1.511156   1.139302   1.159076   0.606264   1.908472   2.221575
min    13.800000  17.330000  20.970000  20.730000  15.060000  19.100000
25%    15.900000  18.430000  21.620000  21.800000  16.150000  22.270000
50%    17.000000  18.700000  22.920000  21.920000  16.510000  23.390000
75%    17.980000  19.180000  23.200000  22.060000  17.610000  24.590000
max    18.920000  20.930000  25.040000  22.830000  21.940000  27.070000

            2022       2023
count  13.000000   6.000000
mean   34.500769  32.330000
std     3.482639   2.849772
min    27.410000  28.440000
25%    32.340000  30.992500
50%    34.840000  31.995000
75%    36.170000  33.582500
max    39.930000  36.780000

[8 rows x 24 columns]

In [103]:
print(regularPorMes.describe())

       Unnamed: 1       2001       2002       2003       2004       2005  \
count    2.000000  10.000000  12.000000  12.000000  13.000000  13.000000
mean    13.510000  14.318000  14.510000  16.634167  18.330769  22.067692
std      0.947523   0.558586   1.044884   3.038691   1.041197   2.551996
min     12.840000  13.570000  12.570000  14.580000  15.800000  18.070000
25%     13.175000  14.065000  14.200000  15.280000  18.070000  21.420000
50%     13.510000  14.115000  14.515000  15.970000  18.450000  21.970000
75%     13.845000  14.562500  15.332500  16.532500  18.780000  22.800000
max     14.180000  15.270000  15.690000  25.920000  19.820000  26.720000

            2006       2007       2008       2009  ...       2014       2015  \
count  13.000000  13.000000  13.000000  13.000000  ...  13.000000  13.000000
mean   24.365385  25.815385  30.582308  23.506154  ...  31.632308  22.763846
std     2.062614   2.258110   4.068620   2.497928  ...   2.775590   2.087680
min    21.690000  21.520000  21.810000  20.180000  ...  24.410000  19.540000
25%    22.640000  25.010000  28.280000  20.680000  ...  31.610000  21.370000
50%    24.250000  26.410000  30.580000  23.510000  ...  32.540000  22.760000
75%    26.260000  27.300000  34.200000  25.620000  ...  33.330000  24.070000
max    27.620000  28.250000  35.770000  26.760000  ...  34.110000  25.670000

            2016       2017       2018       2019       2020       2021  \
count  13.000000  13.000000  13.000000  13.000000  13.000000  13.000000
mean   20.793846  22.816154  25.790769  24.707692  21.235385  27.932308
std     1.283488   0.848740   1.412306   1.349328   1.912497   2.151407
min    17.910000  21.760000  22.620000  21.870000  17.710000  23.010000
25%    20.780000  22.150000  24.700000  24.440000  20.400000  27.220000
50%    21.040000  22.720000  25.990000  24.660000  21.400000  27.980000
75%    21.630000  23.190000  26.850000  25.250000  21.940000  29.090000
max    22.190000  24.110000  27.360000  26.690000  24.590000  30.820000

           2022       2023
count  13.00000   6.000000
mean   35.65000  33.636667
std     2.64381   0.615391
min    30.60000  32.810000
25%    34.28000  33.455000
50%    35.65000  33.585000
75%    36.40000  33.685000
max    40.16000  34.710000

[8 rows x 24 columns]

In [104]:
print(superPorMes.describe())

       Unnamed: 1       2001       2002       2003       2004  Unnamed: 6  \
count         0.0  13.000000  13.000000  13.000000  13.000000         0.0
mean          NaN  14.596923  14.722308  16.203846  18.781538         NaN
std           NaN   0.673293   1.178439   0.773149   1.060683         NaN
min           NaN  13.210000  12.760000  15.070000  16.240000         NaN
25%           NaN  14.410000  14.490000  15.800000  18.480000         NaN
50%           NaN  14.490000  14.720000  16.200000  18.910000         NaN
75%           NaN  14.660000  15.680000  16.640000  19.240000         NaN
max           NaN  15.760000  16.120000  17.790000  20.310000         NaN

            2005       2006       2007       2008  ...       2016       2017  \
count  13.000000  13.000000  13.000000  13.000000  ...  13.000000  13.000000
mean   22.578462  24.859231  26.505385  31.260000  ...  22.276154  24.190000
std     2.539150   2.071253   2.358494   4.038168  ...   1.284935   0.755679
min    18.600000  22.160000  22.040000  22.550000  ...  19.380000  23.150000
25%    21.940000  23.150000  25.530000  28.890000  ...  22.250000  23.640000
50%    22.480000  24.730000  27.340000  31.290000  ...  22.530000  24.190000
75%    23.290000  26.770000  28.240000  34.830000  ...  23.100000  24.690000
max    27.220000  28.120000  29.040000  36.420000  ...  23.660000  25.370000

            2018       2019       2020       2021       2022       2023  \
count  13.000000  13.000000  13.000000  13.000000  13.000000   6.000000
mean   26.916923  25.869231  22.149231  28.726923  36.966154  35.155000
std     1.406493   1.362378   1.913346   2.129782   2.932733   0.637581
min    23.810000  23.030000  18.740000  23.820000  31.410000  34.400000
25%    25.830000  25.540000  21.210000  28.030000  35.210000  34.932500
50%    27.100000  25.850000  22.300000  28.850000  36.970000  35.075000
75%    27.950000  26.440000  22.760000  29.910000  38.830000  35.142500
max    28.540000  27.880000  25.600000  31.550000  42.140000  36.330000

       Unnamed: 26  Unnamed: 27
count          0.0          0.0
mean           NaN          NaN
std            NaN          NaN
min            NaN          NaN
25%            NaN          NaN
50%            NaN          NaN
75%            NaN          NaN
max            NaN          NaN

[8 rows x 27 columns]

In [105]:
print(superConAditivo.describe())

       Unnamed: 1       2001       2002       2003       2004  Unnamed: 6  \
count    2.000000  11.000000  13.000000  13.000000  13.000000         0.0
mean    14.315000  15.194545  15.301538  16.750000  19.416923         NaN
std      1.053589   0.600506   1.228996   0.774672   1.104192         NaN
min     13.570000  14.430000  13.230000  15.580000  16.800000         NaN
25%     13.942500  14.915000  15.050000  16.340000  19.160000         NaN
50%     14.315000  14.950000  15.300000  16.750000  19.510000         NaN
75%     14.687500  15.350000  16.310000  17.210000  19.900000         NaN
max     15.060000  16.310000  16.750000  18.300000  21.030000         NaN

            2005       2006       2007       2008  ...       2016       2017  \
count  13.000000  13.000000  13.000000  13.000000  ...  13.000000  13.000000
mean   23.272308  25.547692  27.253846  32.172308  ...  22.926154  24.813077
std     2.506569   2.067173   2.388834   3.966243  ...   1.286795   0.753596
min    19.250000  22.850000  22.650000  23.800000  ...  20.030000  23.800000
25%    22.700000  23.830000  26.350000  29.550000  ...  22.910000  24.240000
50%    23.210000  25.430000  28.120000  32.450000  ...  23.160000  24.810000
75%    23.930000  27.440000  29.150000  35.870000  ...  23.750000  25.310000
max    27.830000  28.830000  29.790000  37.250000  ...  24.310000  25.980000

            2018       2019       2020       2021       2022       2023  \
count  13.000000  13.000000  13.000000  13.000000  13.000000   6.000000
mean   27.513077  26.430769  22.692308  29.363077  37.520769  35.710000
std     1.386947   1.402584   1.929565   2.253828   2.924977   0.637652
min    24.500000  23.720000  19.360000  24.340000  32.050000  34.950000
25%    26.440000  25.960000  21.760000  28.540000  35.770000  35.457500
50%    27.740000  26.490000  22.760000  29.410000  37.520000  35.625000
75%    28.600000  27.090000  23.410000  30.490000  39.370000  35.747500
max    29.140000  28.540000  26.170000  32.600000  42.680000  36.870000

       Unnamed: 26  Unnamed: 27
count          0.0          0.0
mean           NaN          NaN
std            NaN          NaN
min            NaN          NaN
25%            NaN          NaN
50%            NaN          NaN
75%            NaN          NaN
max            NaN          NaN

[8 rows x 27 columns]

In [106]:
# Check for missing values
print("\nMissing Values:")
print(consumo2023.isnull().sum())

Missing Values:
Fecha                         0
Aceites lubricantes           0
Asfalto                       0
Bunker                        0
Ceras                         1
Combustible turbo jet         0
Diesel bajo azufre            0
Diesel ultra bajo azufre      0
Gas licuado de petróleo       0
Gasolina de aviación          0
Gasolina regular              0
Gasolina superior             0
Grasas lubricantes            0
Kerosina                      0
Mezclas\r\noleosas            0
Naftas                        0
PetCoke                       0
Petróleo crudo                0
Solventes                     0
Butano                        0
Diesel alto azufre            0
Orimulsión                    0
Total                         0
Unnamed: 23                 281
Unnamed: 24                 281
Unnamed: 25                 281
Unnamed: 26                 281
Unnamed: 27                 281
Unnamed: 28                 281
Unnamed: 29                 281
Unnamed: 30                 281
Unnamed: 31                 281
Unnamed: 32                 281
Unnamed: 33                 281
Unnamed: 34                 281
Unnamed: 35                 281
Unnamed: 36                 281
Unnamed: 37                 281
Unnamed: 38                 281
Unnamed: 39                 281
Unnamed: 40                 281
Unnamed: 41                 281
Unnamed: 42                 281
Unnamed: 43                 281
Unnamed: 44                 281
Unnamed: 45                 281
Unnamed: 46                 281
Unnamed: 47                 281
Unnamed: 48                 281
Unnamed: 49                 281
Unnamed: 50                 281
Unnamed: 51                 281
Unnamed: 52                 281
Unnamed: 53                 281
Unnamed: 54                 281
Unnamed: 55                 281
dtype: int64

In [107]:
print(importacion2023.isnull().sum())

Fecha                    1
Aceites lubricantes      2
Asfalto                  2
Bunker                   2
Ceras                    3
                      ...
Unnamed: 66            271
Unnamed: 67            271
Unnamed: 68            271
Unnamed: 69            271
Unnamed: 70            271
Length: 71, dtype: int64

In [108]:
print(dieselPorMes.isnull().sum())

MES/AÑO        0
Unnamed: 1    13
2001           1
2002           1
2003           1
2004           0
2005           0
2006           0
2007           0
2008           0
2009           0
2010           0
2011           0
2012           0
2013           0
2014           0
2015           0
2016           0
2017           0
2018           0
2019           0
2020           0
2021           0
2022           0
2023           7
dtype: int64

In [109]:
print(regularPorMes.isnull().sum())

MES/AÑO        0
Unnamed: 1    11
2001           3
2002           1
2003           1
2004           0
2005           0
2006           0
2007           0
2008           0
2009           0
2010           0
2011           0
2012           0
2013           0
2014           0
2015           0
2016           0
2017           0
2018           0
2019           0
2020           0
2021           0
2022           0
2023           7
dtype: int64

In [110]:
print(superPorMes.isnull().sum())

MES/AÑO         0
Unnamed: 1     13
2001            0
2002            0
2003            0
2004            0
Unnamed: 6     13
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            7
Unnamed: 26    13
Unnamed: 27    13
dtype: int64

In [111]:
print(superConAditivo.isnull().sum())

MES/AÑO         0
Unnamed: 1     11
2001            2
2002            0
2003            0
2004            0
Unnamed: 6     13
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            7
Unnamed: 26    13
Unnamed: 27    13
dtype: int64

In [112]:
# Realizar gráficos exploratorios
plt.figure(figsize=(10, 6))

# Gráfico de dispersión entre importaciones y consumo
plt.scatter(data['Importaciones'], data['Consumo'])
plt.xlabel('Importaciones')
plt.ylabel('Consumo')
plt.title('Relación entre Importaciones y Consumo')

plt.show()

# Cargar los datos desde un archivo CSV (por ejemplo, con fechas en la primera columna)
data = pd.read_csv('datos_series_tiempo.csv', parse_dates=[0], index_col=0)

# Graficar series de tiempo
plt.figure(figsize=(12, 6))

# Serie de tiempo para Importaciones de Diésel
plt.plot(data.index, data['Importaciones_Diesel'], label='Importaciones de Diésel')
plt.xlabel('Fecha')
plt.ylabel('Importaciones')
plt.title('Serie de Tiempo de Importaciones de Diésel')
plt.legend()

plt.show()

# Cargar los datos desde un archivo CSV (por ejemplo, con fechas en la primera columna)
data = pd.read_csv('datos_series_tiempo.csv', parse_dates=[0], index_col=0)

# Graficar series de tiempo con enfoque en la pandemia
plt.figure(figsize=(12, 6))

# Serie de tiempo para Consumo de Gasolina Superior durante la pandemia
plt.plot(data.index, data['Consumo_Gasolina_Superior'], label='Consumo de Gasolina Superior')
plt.axvspan('2020-03-01', '2021-06-30', color='red', alpha=0.2, label='Pandemia')
plt.xlabel('Fecha')
plt.ylabel('Consumo')
plt.title('Serie de Tiempo de Consumo de Gasolina Superior')
plt.legend()

plt.show()

NameError: name 'data' is not defined