In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
data_url = "data/superconaditivo.csv"
data = pd.read_csv(data_url)

In [38]:
# Display basic information about the dataset
print("Dataset Summary:")
print(data.info())

Dataset Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MES/Aﾃ前      13 non-null     object
 1   Unnamed: 1   2 non-null      float64
 2   2001         11 non-null     float64
 3   2002         13 non-null     float64
 4   2003         13 non-null     float64
 5   2004         13 non-null     float64
 6   Unnamed: 6   0 non-null      float64
 7   2005         13 non-null     float64
 8   2006         13 non-null     float64
 9   2007         13 non-null     float64
 10  2008         13 non-null     float64
 11  2009         13 non-null     float64
 12  2010         13 non-null     float64
 13  2011         13 non-null     float64
 14  2012         13 non-null     float64
 15  2013         13 non-null     float64
 16  2014         13 non-null     float64
 17  2015         13 non-null     float64
 18  2016         13 non-null     float64
 19  2017         13 non-null     float64
 20  2018         13 non-null     float64
 21  2019         13 non-null     float64
 22  2020         13 non-null     float64
 23  2021         13 non-null     float64
 24  2022         13 non-null     float64
 25  2023         6 non-null      float64
 26  Unnamed: 26  0 non-null      float64
 27  Unnamed: 27  0 non-null      float64
dtypes: float64(27), object(1)
memory usage: 3.0+ KB
None

In [39]:
# Display the first few rows of the dataset
print("\nFirst 5 rows of the dataset:")
print(data.head())

First 5 rows of the dataset:
   MES/Aﾃ前  Unnamed: 1   2001   2002   2003   2004  Unnamed: 6   2005   2006  \
0    ENERO         NaN  14.92  13.37  16.34  16.80         NaN  19.80  23.31
1  FEBRERO         NaN  15.17  13.23  17.21  18.05         NaN  19.25  22.98
2    MARZO         NaN  14.97  13.63  18.30  18.68         NaN  20.46  22.85
3    ABRIL         NaN  14.91  15.18  17.42  19.16         NaN  22.70  25.36
4     MAYO         NaN  16.26  15.19  16.48  19.48         NaN  23.21  27.68

    2007  ...   2016   2017   2018   2019   2020   2021   2022   2023  \
0  23.62  ...  21.01  25.31  26.47  23.72  26.17  24.34  32.05  35.76
1  22.65  ...  20.03  24.51  26.27  24.54  25.12  26.07  34.55  35.54
2  24.00  ...  21.70  24.03  26.43  26.49  24.15  28.24  39.83  34.95
3  26.35  ...  22.91  24.81  27.74  28.48  19.44  28.54  39.37  36.87
4  28.40  ...  23.75  24.24  28.57  28.54  19.36  29.41  42.68  35.43

   Unnamed: 26  Unnamed: 27
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 28 columns]

In [40]:
# Summary statistics of numerical columns
print("\nSummary Statistics:")
print(data.describe())

Summary Statistics:
       Unnamed: 1       2001       2002       2003       2004  Unnamed: 6  \
count    2.000000  11.000000  13.000000  13.000000  13.000000         0.0
mean    14.315000  15.194545  15.301538  16.750000  19.416923         NaN
std      1.053589   0.600506   1.228996   0.774672   1.104192         NaN
min     13.570000  14.430000  13.230000  15.580000  16.800000         NaN
25%     13.942500  14.915000  15.050000  16.340000  19.160000         NaN
50%     14.315000  14.950000  15.300000  16.750000  19.510000         NaN
75%     14.687500  15.350000  16.310000  17.210000  19.900000         NaN
max     15.060000  16.310000  16.750000  18.300000  21.030000         NaN

            2005       2006       2007       2008  ...       2016       2017  \
count  13.000000  13.000000  13.000000  13.000000  ...  13.000000  13.000000
mean   23.272308  25.547692  27.253846  32.172308  ...  22.926154  24.813077
std     2.506569   2.067173   2.388834   3.966243  ...   1.286795   0.753596
min    19.250000  22.850000  22.650000  23.800000  ...  20.030000  23.800000
25%    22.700000  23.830000  26.350000  29.550000  ...  22.910000  24.240000
50%    23.210000  25.430000  28.120000  32.450000  ...  23.160000  24.810000
75%    23.930000  27.440000  29.150000  35.870000  ...  23.750000  25.310000
max    27.830000  28.830000  29.790000  37.250000  ...  24.310000  25.980000

            2018       2019       2020       2021       2022       2023  \
count  13.000000  13.000000  13.000000  13.000000  13.000000   6.000000
mean   27.513077  26.430769  22.692308  29.363077  37.520769  35.710000
std     1.386947   1.402584   1.929565   2.253828   2.924977   0.637652
min    24.500000  23.720000  19.360000  24.340000  32.050000  34.950000
25%    26.440000  25.960000  21.760000  28.540000  35.770000  35.457500
50%    27.740000  26.490000  22.760000  29.410000  37.520000  35.625000
75%    28.600000  27.090000  23.410000  30.490000  39.370000  35.747500
max    29.140000  28.540000  26.170000  32.600000  42.680000  36.870000

       Unnamed: 26  Unnamed: 27
count          0.0          0.0
mean           NaN          NaN
std            NaN          NaN
min            NaN          NaN
25%            NaN          NaN
50%            NaN          NaN
75%            NaN          NaN
max            NaN          NaN

[8 rows x 27 columns]

In [41]:
# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

Missing Values:
MES/Aﾃ前         0
Unnamed: 1     11
2001            2
2002            0
2003            0
2004            0
Unnamed: 6     13
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            7
Unnamed: 26    13
Unnamed: 27    13
dtype: int64

In [42]:
# Create a list of columns to drop
columns_to_drop = ["Unnamed: 1", "Unnamed: 6", "Unnamed: 26", "Unnamed: 27"]

# Drop the columns from the DataFrame
data_cleaned = data.drop(columns=columns_to_drop)

In [43]:
# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

Missing Values:
MES/Aﾃ前         0
Unnamed: 1     11
2001            2
2002            0
2003            0
2004            0
Unnamed: 6     13
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
2023            7
Unnamed: 26    13
Unnamed: 27    13
dtype: int64